#header What Would You Build?
#filters
    button#firstButton Filter1
    button Filter2
    button Filter3
    button#lastButton Filter 4
table
    tr
        td.score 15
        td#upvoteTD
            img.upvoteIMG(src="/images/upvote.jpeg")
        td
            <p><a href='/posts'> Song Grabber</a></p>
            p
                | IDEA IDEAID EAIDEA IDEAIDEA IDEAIDE AIDE AID
                | EAIDEA IDEAIDE AIDEAID EAIDEAIDEAI DEAIDEA IDEA IDEA
                | IDEA IDEA IDEA
    tr
        td.score 10
        td#upvoteTD
            img.upvoteIMG(src="/images/upvote.jpeg")
        td
          | IDEA IDEAID EAIDEA IDEAIDEA IDEAIDE AIDE AID
          | EAIDEA IDEAIDE AIDEAID EAIDEAIDEAI DEAIDEA IDEA IDEA
          | IDEA IDEA IDEA
    tr
        td.score 9
        td#upvoteTD
            img.upvoteIMG(src="/images/upvote.jpeg")
        td
          | IDEA IDEAID EAIDEA IDEAIDEA IDEAIDE AIDE AID
          | EAIDEA IDEAIDE AIDEAID EAIDEAIDEAI DEAIDEA IDEA IDEA
          | IDEA IDEA IDEA