html
    head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/postpage.css')
    body
        div#idea_title Song Grabber
        div#email
            img#email_pic
            div#email_address nic@spling.com
        div#github
            a(href='http://www.github.com/nmeiring/WWYB') Github Page
        p#description
            |A user would give a list of songs, and the server would go out and
            |check a few music downloading sites like SoundOwl,
            |ZippyShare, Rapidfire, etc. The user would be given a download link
            |for a zip file that contains the systems best guess at all the songs.
            |A user would give a list of songs, and the server would go out and
            |check a few music downloading sites like SoundOwl,
            |ZippyShare, Rapidfire, etc. The user would be given a download link
            |for a zip file that contains the systems best guess at all the songs.
        div#back
            a(href="/") Back