table {
    margin: 0px 150px 100px 150px;
    font-size: 24px;
    font-family: Arial, sans-serif;
}

#filters {
    width: 100%;
    margin-bottom: 10px;
}

td {
    padding: 10px;
    width: auto;
}

button {
    text-align: center;
    margin-left:5%;
    margin-right: 5%;
    float: left;
    width: 15%;
}

#header {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}


tr {
    margin-left:10%;
    margin-right:10%
    width: 80%;
}

.upvoteIMG {
    height: 20px;
    width: auto;
}

td:first-child {
    width: 10px;
}

.score {
    width: 10px;
    text-align: center;
}


